
.choose_title{
    width:45%;
    padding-left: 5%;
    margin: 60px 0 5%;
}
.choose_title img{
    width:100%;
}
.choose_con{
    width:93%;
    margin: 0 auto;
    position: relative;
    background: url("../images/gongzhong_juanzhou_03.png") no-repeat left top/100% 100%;
    padding-bottom: 17%;
    max-height: 476px;
    overflow: hidden;
}
.choose_con .swiper-container{
    width: 76%;
    overflow: hidden;
    height: 42px;
    line-height: 42px;
    margin: 45px 0 0 12%;
}
.choose_con .swiper-slide a{
    font-size: 15px;
    color: #830505;
}
.choose_con ul{
    padding: 10px 0 0;
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
    max-height:340px;
    overflow-y: auto;
}
.choose_con ul li{
    float: left;
    width: 33.3%;
    text-align: center;
    margin: 5px 0;
}
.choose_con ul li a{
    display: block;
    width: 100%;
    height: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.choose_con ul li img{
    width: 70%;
}
.choose_con ul li p{
    width: 100%;
    font-size: 12px;
    color: #462800;
}
.peopel{
    width:27%;
    position: absolute;
    bottom: 0;
    right: 15%;
    animation: move 2s infinite linear;
    -moz-animation: move 2s infinite linear;
    -webkit-animation: move 2s infinite linear;
    -o-animation: move 2s infinite linear;
    transition: move 2s;
    display: none;
}
.peopel img{
    width: 100%;
}
.yuan_btn a.nav_btn{
    float: right;
}
@keyframes move {
    0% {bottom: 15%;}
    50%{bottom: 17%;}
    100%{bottom:15%;}
}