body{
    font-family: "黑体";
}
i{
    font-style: normal;
}
.dati_info{
    height: 25px;
    background: url("../images/dati_info_bg.png") no-repeat left top/100% 100%;
    line-height: 25px;
    font-size: 1.2rem;
}
.dati_info .dati_time{
    float: left;
    padding-left: 8%;
    line-height: 25px;
}
.dati_info .dati_panduan{
    float: right;
    padding-right: 5%;
    line-height: 25px;
}
.error_num{
    color: #c70909;
}
.dati{
    width: 100%;
}
.timu{
    width: 100%;
    background: url("../images/dati_juanzhou_02.png") no-repeat left top/100% 100%;
    margin-top: 15px;
}
.timu h3{
    font-size: 20px;
    color: #a80000;
    text-align: center;
    line-height: 50px;
    padding: 20px 0 0 0;
    margin: 0;
}
.timu .ti_txt{
    width: 68%;
    margin:0 auto;
    line-height: 26px;
    font-size: 14px;
    color: #360000;
}
.timu .ti_j{
    width: 68%;
    text-align: right;
    color: #a80000;
    margin: 0 auto;
    padding: 20px 0;
    font-size: 12px;
}
.choose{
    margin-top: 20px;
    min-height: 190px;
}
.choose ul li{
    /*margin-bottom: 7%;*/
    position: relative;
    line-height: 20px;
    border: 2px solid #fff;
    background-color: rgba(255,255,255,0.5);
    border-radius: 5px;
    margin: 10px 20px 0 50px;
    padding: 4px;
    text-align: center;
}
.choose ul li .ico-0{
    width: 30px;
    height: 30px;
    position: absolute;
    left: -25px;
    top: -1px;
}
.choose ul li .ico-0 img{
    display: block;
    width: 100%;
}
.choose ul li label{
    display: inline-block;
    float: none;
    width: 100%;
    padding-right: 58px;
    color: #360000;
    font-size: 12px;
}
.choose ul li input{
    position: absolute;
    top: 5px;
    right: 1px;
    display: inline-block;
    width: 28px;
    height: 26px;
    border: 0;
    outline: 0!important;
    background-color: transparent;
    -webkit-appearance: none;
}
.choose ul li input:checked:before{
    content:"";
    display: block;
    width:44px;
    height: 40px;
    background: url("../images/duihao_03.png") no-repeat left top/100% 100%;
    position: absolute;
    right: 0;
    bottom:3px;
    z-index:9;
}
.choose ul li img{
    width: 100%;
    display: block;
}
.choose ul li .duihao{
    display: block;
    width:44px;
    height: 40px;
    background: url("../images/duihao_03.png") no-repeat left top/100% 100%;
    position: absolute;
    right: 0;
    bottom:3px;
    z-index:9;
    display: none;
}
.dati_btn{
    width: 85%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}
.dati_btn  a{
    display: block;
    width:32%;
    height: 32px;
    line-height: 32px;
    background: url("../images/dati_btn_bg_12.png") no-repeat left top/100% 100%;
    color: #ffdfa4;
    text-align: center;
    font-size: 14px;
}
/*闯关说明*/
.dati_shuoming{
    width: 88%;
    margin: 40px auto 0;
    padding: 50px 0;
    background: url("../images/shuoming_juanzhou_03.png") no-repeat left top/100% 100%;
    display: none;
}
.shuoming_txt{
    width: 65%;
    margin: 0 auto;
    font-size: 14px;
    height: 56%;
    line-height: 24px;
    color: #26170e;
}
.know_btn{
    width:27%;
    height: 32px;
    line-height: 32px;
    position: absolute;
    left: 50%;
    top: 90%;
    transform: translateX(-50%);
    background: url("../images/dati_btn_bg_12.png") no-repeat left top/100% 100%;
    text-align: center;
    color: #ffdfa4;
}
/*金蛋*/
.jindan{
    width:83%;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
    max-width: 350px;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    z-index: 100;
}
.wei_open{
    position: absolute;
    top: 5%;
}
.wei_open .dan_w{
    width: 100%;
    display: block;
    margin: 0 auto;
    margin-top: 35px;
    max-width: 345px;
    position: relative;
}
.wei_open .dan_w .dan{
    width: 100%;
}
.wei_open img.chuizi{
    width: 35%;
    max-width: 150px;
    position: absolute;
    right: 16px;
    top: -30px;
}
.yi_open{
    position: absolute;
    display: none;
    width: 100%;
    top: 5%;
}
.yi_open img.dan_kai{
    width: 110%;
    position: absolute;
    left: 48%;
    transform: translateX(-50%);
    top: -20px;
}
/*.yi_open img.dan_guang{
    width: 150%;
    position: absolute;
    top: -40%;
    left: 50%;
    transform: translateX(-50%);
}*/
.yi_open p{
    color: #cd0000;
    text-shadow:#ffd800 1px 0 0,#ffd800 0 1px 0,#ffd800 -1px 0 0,#ffd800 0 -1px 0;
    -webkit-text-shadow:#ffd800 1px 0 0,#ffd800 0 1px 0,#ffd800 -1px 0 0,#ffd800 0 -1px 0;
    -moz-text-shadow:#ffd800 1px 0 0,#ffd800 0 1px 0,#ffd800 -1px 0 0,#ffd800 0 -1px 0;
    font-size: 24px;
    position: absolute;
    top:40px;
    width: 100%;
    text-align: center;
    z-index: 99;
}
.overlayer{
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(0,0,0,0.5);
    z-index: 10;
    left: 0;
    top: 0;
}
.chuizi {
    position: absolute;
    top: 10px;
    right: 30px;
    width: 30%;
    z-index: 10002;
    -moz-transform-origin: bottom right;
    -webkit-transform-origin: bottom right;
    transform-origin: bottom 100%;
    -moz-transform: rotate(15deg);
    -ms-transform: rotate(15deg);
    -webkit-transform: rotate(15deg);
    transform: rotate(15deg);
    -moz-animation: chuizi 1.5s ease infinite ;
    -webkit-animation: chuizi 1.5s ease infinite ;
    animation: chuizi 1.5s ease infinite ;
}
@keyframes chuizi {
    0% {
        -moz-transform: rotate(10deg);
        -ms-transform: rotate(10deg);
        -webkit-transform: rotate(10deg);
        transform: rotate(10deg);
    }
    30% {
        -moz-transform: rotate(-15deg);
        -ms-transform: rotate(-15deg);
        -webkit-transform: rotate(-15deg);
        transform: rotate(-15deg);
    }
    100% {
        -moz-transform: rotate(10deg);
        -ms-transform: rotate(10deg);
        -webkit-transform: rotate(10deg);
        transform: rotate(10deg);
    }
}
@-webkit-keyframes chuizi {
    0% {
        -moz-transform: rotate(15deg);
        -ms-transform: rotate(15deg);
        -webkit-transform: rotate(15deg);
        transform: rotate(15deg);
    }
    30% {
        -moz-transform: rotate(-25deg);
        -ms-transform: rotate(-25deg);
        -webkit-transform: rotate(-25deg);
        transform: rotate(-25deg);
    }
    100% {
        -moz-transform: rotate(15deg);
        -ms-transform: rotate(15deg);
        -webkit-transform: rotate(15deg);
        transform: rotate(15deg);
    }
}
@-moz-keyframes chuizi {
    0% {
        -moz-transform: rotate(15deg);
        -ms-transform: rotate(15deg);
        -webkit-transform: rotate(15deg);
        transform: rotate(15deg);
    }
    30% {
        -moz-transform: rotate(-25deg);
        -ms-transform: rotate(-25deg);
        -webkit-transform: rotate(-25deg);
        transform: rotate(-25deg);
    }
    100% {
        -moz-transform: rotate(15deg);
        -ms-transform: rotate(15deg);
        -webkit-transform: rotate(15deg);
        transform: rotate(15deg);
    }
}
