*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
i{
    font-style: normal;
}
body,html{
    width:100%;
    height: 100%;
    overflow: hidden;
}
body{
    overflow-y: auto;
}
.bg{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
em{
    font-style: normal;
}
.wrapper{
    width: 100%;
    overflow-y: auto;
    position: absolute;
    top: 0;
    left: 0;
}
.top_info{
    margin: 5px 0 0;
    text-align: center;
}
.top_info .geren_logo{
    width:25%;
    display: block;
    margin: 0 auto;
}
.top_info p{
    color: #360000;
}
.top_info p.name{
    font-size: 16px;
}
.top_info p.num{
    font-size: 12px;
}
.user_info{
   /* position: absolute;
    top: 33%;
    left: 0;*/
    width: 90%;
    margin: 10px auto 0;
    background: url("../images/geren_juanzhou.png") no-repeat left top/100% 100%;
}
.user_info ul{
    width: 80%;
    margin: 0 auto;
    padding: 40px 0;
}
.user_info li{
    padding: 0 0 0 5%;
    border-bottom: 1px solid rgba(152,106,54,0.5);
    line-height: 26px;
    font-size: 14px;
    overflow: hidden;
}
.user_info li:last-child{
    border-bottom: none;
}
.user_info li .title{
    color: #360000;
    display: block;
    float: left;
    width: 30%;
}
.user_info li .info{
    color: #986a36;
    /*display: block;
    float: left;*/
    width: 60%;
    text-align: right;
    background: none;
    border: none;
    line-height: 26px;
    padding: 0 5%;
}
.jifen_num,.jinbi_num{
    color: #de4c3f;
}
.tuichu{
   margin-top: 20px;
}
.tuichu a{
    display: block;
    width:26%;
    height: 32px;
    line-height: 32px;
    background: url("../images/dati_btn_bg_12.png") no-repeat left top/100% 100%;
    color: #ffdfa4;
    text-align: center;
    font-size: 14px;
    margin: 0 auto;
}
.edit_btn{
    width: 60%;
    margin: 20px auto 0;
    display: flex;
    justify-content: space-between;
    display: none;
}
.edit_btn a{
    display: block;
    float: left;
    width:43%;
    height: 32px;
    line-height: 32px;
    background: url("../images/dati_btn_bg_12.png") no-repeat left top/100% 100%;
    color: #ffdfa4;
    text-align: center;
    font-size: 14px;
    margin: 0 auto;
}
.login_out{
    width: 67%;
    background: #fff;
    color: #444;
    font-size: 14px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    border-radius: 5px;
    display: none;
    z-index: 99;
}
.login_out p{
    padding: 35px 0 24px;
    text-align: center;
    border-bottom: 1px solid #dadada;
}
.login_btn{
    display: -webkit-box;
    display: box;
}
.login_out a{
    display: block;
    font-size: 18px;
    color: #ad4500;
    line-height: 50px;
    text-align: center;
    -webkit-box-flex: 1;
    box-flex: 1;
}
.login_out a.quxiao{
    border-right: 1px solid #dadada;
}
.over_layer{
    position: absolute;
    left:0;
    top: 0;
    width:100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    display: none;
    z-index: 9;
}