body{
    background: url("../images/paihang_bg_02.png") no-repeat left top/100% 100%;
}
.jiangbei{
    width: 75%;
    margin: 25px auto 0;
    position: relative;
}
.jiangbei img{
    width: 100%;
}
.bang_img{
    width: 122%;
    position: absolute;
    left: 50%;
    top: 34%;
    transform: translateX(-50%);
}
.bang_img ul li{
    position: absolute;
    left: 0;
    top: 0;
    display: none;
}
.bang_img ul li:first-child{
    display: block;
}
.bang_img ul li img{
    width: 100%;
}
.mingci{
    width: 90%;
    margin: -68px auto 0;
    font-family: "黑体";
    text-align: center;
    background: url("../images/yunpaihang_juanzhou_03.png") no-repeat left top/100% 100%;
    padding: 90px 0 70px;
    max-height: 440px;
    overflow: hidden;
}
.mc_con{
    max-height: 280px;
    overflow-y: auto;
}
.mingci table{
    width: 70%;
    margin: 0 auto;
 }
.mingci thead tr{
    color: #a80000;
    font-size: 16px;
    line-height: 6vh;
}
.mingci img.mingci_img{
    display: block;
    width: 31px;
    height: 38px;
    margin: 0 auto;
}
.mingci tbody tr td{
    padding: 5px 0;
    font-size: 14px;
    color: #360000;
}
.rank{
    position: relative;
}
.rank_num{
    position: absolute;
    top: 11px;
    left: 20px;
    color: #fff;
    font-size: 15px;
}
.yuan_btn a.nav_btn{
    float: right;
}
.tishi{
    display: none;
    position: absolute;
    bottom: -12px;
    left: -75px;
    border: 1px solid #d3b684;
    color:#966a37;
    width: 170px;
    background: rgba(255,255,255,0.6);
    z-index: 9;
    border-radius: 3px;
}
.pk{
    position: relative;
}
.pk_img{
    width: 22px;
    height: 25px;
    display: block;
    margin: 0 auto;
}